<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="theme-color" content="#FFFFFF" />

        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body id="body">
        <div id="root"></div>
        <script data-goatcounter="https://throne.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>


    <script type="text/javascript">
    async function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'lv',
            includedLanguages: 'en,ru,lt,et,'+navigator?.language?.split('-')[0],
            autoDisplay: navigator?.language?.includes('lv') ? false : true,
            layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
        }, 'google_translate_element');
    }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    </body>
</html>
