html {
    scroll-behavior: smooth;
}

@media (min-width:600px) {
    html {
        scroll-padding-top: 72px;
    }
}

body {
    position: relative;
    min-height: 100vh;  /* TODO: compatible with iPhones that hate vh :/ */
    min-width: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
}
